body {
	margin: 0;
	padding: 0;
}
.contenido {
	background-color: #808089;
	flex: 1; /* usar la propiedad 'flex' para que el contenido principal se expanda para llenar el espacio restante del contenedor */
	height: 100vh;
	padding: 1em;
}


.contenedor {
	display: flex;
}

.barra-lateral {
	background-color: #333333;
	width: 14%;
	height: 100vh;
}
.barra-lateral button {
	display: block;
	width: 100%;
	padding: 0.5em;
	border: none;
	background-color: #444444;
	color: #f2f2f2;
	font-size: 1.2em;
	text-align: left;
	margin: 0;
}

.barra-lateral button:hover {
	background-color: #333333;
	cursor: pointer;
}

h1 {
	font-size: 2em;
	margin-top: 0;
}

p {
	font-size: 1.2em;
}